<table>
    <tr>
      <th>Название</th>
      <th>Автор</th>
      <th>Жанр</th>
      <th>Обложка</th>
      <th>Количество</th>
      <th>Цена</th>
      <th>предназначение</th>
      <th>Действия</th>
    </tr>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.genre }}</td>
      <td>{{ book.cover_type }}</td>
      <td>{{ book.amount }}</td>
      <td>{{ book.price }}</td>
      <td>{{ book.purpose }}</td>
      <td>
        <button (click)="deleteBook(book.id)">Удалить</button>
        <a [routerLink]="['/edit-book', book.id]">Редактировать</a>
        <!-- <button (click)="[routerLink]="['/edit-book', book.id]">Редактировать</button> -->
      </td>
    </tr>
  </table>
  
  <!-- в скобках указывается событие(их много), а ему присваивается метод, который будет вызван при наступлении этого события, а этот метод можно прописать к самом компоненте.ts в конструкторе -->